/*
CSS designing
*/

:root {
  /* making root colors */
  --topnav: #011f29;
  --topnavHover: #028286;
  --fontColourWhite: #fff;
  --red: #ff0000;
  --green: #00ff40;
  --yellow: #ffee00;
  --blue: #0059ff;
  --white: #ffffff;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: var(--topnav);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.topnav a {
  float: right;
  color: var(--fontColourWhite);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  letter-spacing: 1px;
}

.topnav a:hover {
  background-color: var(--topnavHover);
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.cv {
  float: left;
  color: var(--fontColourWhite);
  padding-left: 40px;
  letter-spacing: 2px;
}

/*
Chatbot
*/

#myChatbot a {
  position: absolute;
  right: -80px;
  transition: 0.3s;
  padding: 15px;
  width: 100px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  border-radius: 5px 0 0 5px;
  position: fixed;
  z-index: 10;
}
#myChatbot a:hover {
  right:0;
}
#chatbot {
  top: 100px;
  background-color: rgb(255, 103, 2);
}

.chatBox {box-sizing: border-box;}

/* Button used to open the chat form - fixed at the bottom of the page */
.chatBox .open-button {
  background-color: rgb(173, 172, 172);
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup chat - hidden by default */
.chatBox .chat-popup {
  display: none;
  position: fixed;
  bottom: 36px;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.chatBox .roboForm-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}
.chatBox .roboForm-container img{
  max-width: 100px;
}

/* Full-width textarea */
.chatBox .roboForm-container textarea {
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 100px;
  width: 90%;
}

/* When the textarea gets focus, do something */
.chatBox .roboForm-container textarea:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/send button */
.chatBox .roboForm-container .btn {
  background-color: rgb(3, 110, 6);
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
  border-radius: 5px 5px 5px 5px;
  font-size: medium;
}
.btn i {
  padding-right: 10px;
}

.myRobo img:hover{
  zoom: 140%;
  transform: rotate(20deg);
  padding-bottom: 30px;
}


.myRobo .pocking {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 95%;
  left: 30%;
  margin-left: -55px;
}

.myRobo .pocking::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.myRobo:hover .pocking {
  visibility: visible;
}

/* Add a red background color to the cancel button */
.chatBox .roboForm-container .cancel {
  background-color: rgb(223, 3, 3);
  border-radius: 5px 5px 5px 5px;
}

/* Add some hover effects to buttons */
.chatBox .roboForm-container .btn:hover, .open-button:hover {
  opacity: 1;
}
.roboKnowledge button i {
padding-right: 20px;
}

.roboKnowledge .whatIKnow {
  visibility: hidden;
  width: 500px;
  background-color: black;
  color: #fff;
  text-align: left;
  letter-spacing: 1.3px;
  line-height: 20px;
  max-width: 300px;
  padding: 5px 5px;
  position: absolute;
  z-index: 1;
  bottom: 50%;
  margin-left: -50px;
}
.whatIKnow {
  padding-left: 30px;
}

.roboKnowledge .whatIKnow::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.roboKnowledge:hover .whatIKnow  {
  visibility: visible;
}


/*
contact card
*/

.contactBtn button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: var(--white);
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card .socialMediaIcons a {
  text-decoration: none;
  color: rgb(10, 10, 10);
}
.socialMediaIcons {
  letter-spacing: 8px;
  font-size: 22px;
}
.socialMediaIcons i:hover {
  -ms-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}
.socialMediaIcons .fa-facebook:hover {
  color: #3b5998;
}

.socialMediaIcons .fa-linkedin:hover {
  color: #0e76a8;
}

.socialMediaIcons .fa-instagram:hover {
  color: #f56040;
}

.contactBtn button a{
  color: white;
  text-decoration: none;
}

.contactBtn button:hover {
  background-color: #034b63;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  text-align: center;
  font-family: arial;
  left: 10px;
}

.title {
  color: grey;
  font-size: 18px;
}
.myImage {
  max-width: 300px;
}
.cardContainer {
  padding: 30px;
  height: 0px;
  margin-top: 40px;
}

/* Flip image */
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);
}

/*
About Me
*/

.aboutMe div {
  max-width: 1200px;
  text-align: center;
  font-family: arial;
}
.aboutMe {
  margin-left: 20%;
  margin-top: 0px;
  padding-left: 10px;
  padding-right: 30px;
  border-bottom: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.aboutMe h1 {
  text-align: center;
  text-transform: uppercase;
  color: rgb(10, 21, 37);
  padding: 10px;
}

.aboutMe p {
  text-indent: 50px;
  text-align: justify;
  letter-spacing: 3px;
  line-height: 35px;
  padding-bottom: 30px;
  padding-left: 130px;
}

/*
Top Navigation responsive
*/

.topnav .icon {
  display: none;
}

/*
Experience
*/

.ExpTablink {
  background-color: var(--topnavHover);
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}
.ExpContend {
  margin-left: 20%;
  margin-top: 30px;
  padding-left: 10px;
  padding-right: 30px;
}

.ExpContend h1 {
  text-align: center;
  text-transform: uppercase;
  padding: 30px;
}
.ExpTabcontent i:hover {
  -ms-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}

/* Style the tab content */
.ExpTabcontent {
  color: white;
  display: none;
  padding: 50px;
  text-align: center;
  letter-spacing: 3px;
  line-height: 35px;
  min-height: 400px;
}
.ExpContend i {
  font-size: 27px;
}

.ExpTabcontent a {
  text-decoration: none;
  color: aliceblue;
}

#Crowbid {
  background-color: var(--topnav);
}
#ElderHomeShare {
  background-color: var(--topnavHover);
}
.experience {
  padding: 40px;
}

/*
Projects
*/

/* Style the tab */
.project .tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: var(--topnavHover);
}

/* Style the buttons inside the tab */
.project .tab button {
  background-color: var(--topnavHover);
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  color: aliceblue;
}

/* Change background color of buttons on hover */
.project .tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.project .tab button.active {
  background-color: var(--topnav);
}

/* Style the tab content */
.project .tabcontent {
  display: none;
  padding: 6px 12px;
  border-top: none;
  min-height: 50%;
}
#Web {
  background-image: url("../image/Experiance/web.png");
  background-repeat: no-repeat;
  background-attachment: top;
  background-position: right;
  background-size: 30%;
}
#Computer {
  background-image: url("../image/Experiance/java.png");
  background-repeat: no-repeat;
  background-attachment: top;
  background-position: right;
  background-size: 30%;
}
#Hybrid {
  background-image: url("../image/Experiance/Hybrid.png");
  background-repeat: no-repeat;
  background-attachment: top;
  background-position: right;
  background-size: 30%;
}

/* Project content */
.projectContend .collapsible {
  background-color: var(--topnav);
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  letter-spacing: 1px;
}

.projectContend .collapsible:after {
  content: "\002B";
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.projectContend .active:after {
  content: "\2212";
}

.projectContend .active,
.projectContend .collapsible:hover {
  background-color: var(--topnavHover);
}

.projectContend .content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #eaeafd;
  letter-spacing: 1px;
  line-height: 30px;
}
.projectTypes .content i {
  padding: 10px 10px 10px 5px;

}
.projectTypes .content i:hover {
  -ms-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}

.projectTypes {
  padding-right: 450px;
  letter-spacing: 1.5px;
  font-family: arial;
  min-height: 500px;
}
hr.solidw {
  border-top: 2px solid rgb(214, 214, 214);
}

/*
My Skills
*/

.skills {
  box-sizing: border-box;
  max-width: 1000px;
  padding-left: 20%;
  letter-spacing: 2px;
}

.mySkills h1 {
  text-align: center;
  text-transform: uppercase;
  padding: 30px;
  margin-left: 20%;
}

.skillsContainer {
  width: 100%;
  background-color: #ddd;
}

.skills p {
  text-align: left;
  padding-top: 10px;
  padding-bottom: 10px;
  color: rgb(0, 0, 0);
}

.html,
.css,
.teamWork,
.teamWorkSoftwares,
.presentation {
  width: 95%;
  background-color: #4caf50;
}
.js,
.mongoDB,
.java,
.ionic,
.api,
.photoshop,
.applicationSoftwares {
  width: 80%;
  background-color: #2196f3;
}
.php,
.bootstrap {
  width: 60%;
  background-color: #f44336;
}
.angular,
.typeScript,
.jQuery,
.xml,
.firebase {
  width: 70%;
  background-color: #00cad1;
}
.json,
.mySql,
.git {
  width: 90%;
  background-color: #bcd100;
}

/*
Education
*/
.education {
  box-sizing: border-box;
  text-transform: uppercase;
  background-color: #474e5d;
  font-family: Helvetica, sans-serif;
  padding-bottom: 30px;
}
.education h1 {
  color: white;
  text-align: center;
  padding: 30px;
}
/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.EduContainer {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 60%;
}

/* The circles on the timeline */
.EduContainer::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid #ff9f55;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: 0;
  max-width: 43%;
}

/* Place the container to the right */
.right {
  left: 50%;
  max-width: 49%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -16px;
}

/* The actual content */
.EduContent {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
}

/* 
Solid border 
*/

hr.solid {
  border-top: 3px solid rgb(70, 69, 69);
}

/*
Refrance
*/

.refrance {
  padding: 40px;
  background-color: var(--topnav);
  color: aliceblue;
  line-height: 30px;
  letter-spacing: 1.5px;
  margin-bottom: 10px;
}
.refrance h1 {
  letter-spacing: 3px;
}

/* 
FOOTER 
*/

footer {
  position: fixed;
  padding: 10px 10px 0px 10px;
  bottom: 0;
  width: 100%;
  height: 40px;
  background-color: black;
  text-align: center;
  font-size: 1rem;
  margin-top: 40px;
  color: #ffffff;
  z-index: 10;
}

.heartSymbel {
  color: var(--red);
  font-size: 16px;
  padding-left: 5px;
  padding-right: 5px;
  animation-duration: 4s;
}

@keyframes heart {
  0% {
    color: var(--red);
  }
  25% {
    color: var(--yellow);
  }
  50% {
    color: var(--blue);
  }
  100% {
    color: var(--green);
  }
}

.heartSymbel:hover {
  font-size: 25px;
  animation-name: heart;
}

@media screen and (max-width: 400px) {
.project .tab button {
  font-size: 14px;
}
.projectContend .content {
min-width: 250px;
max-width: 300px;
width: 70%;
}
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
  /* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }

  /* Full-width containers */
  .EduContainer {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  /* Make sure that all arrows are pointing leftwards */
  .EduContainer::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .left::after,
  .right::after {
    left: 15px;
  }

  /* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }
}

@media screen and (max-width: 600px) {
  .topnav a:not(:only-child) {
    display: none;
  }
  .topnav a.icon {
    float: left;
    display: block;
  }
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav a:hover {
    -ms-transform: none;
    -webkit-transform: none;
    transform: none;
  }

  .aboutMe {
    margin-top: 500px;
    margin-left: 0%;
    letter-spacing: 1px;
  }
  .aboutMe p {
    letter-spacing: 1px;
    padding-bottom: 0px;
    padding-left: 8px;
  }

  .ExpContend {
    margin-left: 0%;
    margin-top: 0px;
    padding: 0px;
    min-width: 400px;
    left: 0px;
    right: 0px;
  }
  .ExpContend h1 {
    padding: 13px;
    margin-left: 0%;
  }
  .ExpTablink {
    font-size: 11px;
  }
  .ExpTabcontent {
    letter-spacing: 1.5px;
    font-size: 13px;
    margin-right: 40px;
  }
  .experience {
    padding: 0px;
  }

  .endExpSolid hr {
    margin-top: 54px;
  }

  .project {
    padding-top: -8px;
  }
  .projectTypes {
    padding-right: 0px;
    letter-spacing: 1.5px;
    min-height: 300px;
  }
  .projectContend .content {
    padding: 0px;
    line-height: 25px;
    min-width: 340px;
    font-size: 13px;
    width: 90%;
  }
  .projectContend .collapsible {
    background-color: var(--topnav);
    padding: 10px;
    font-size: 11px;
    letter-spacing: 1px;
    width: 90%;
  }
  .projectTypes button {
    min-width: 340px;
  }
  .project .tabcontent {
    padding: 12px 3px;
  }

  .skills {
    padding-left: 2%;
  }

  .mySkills h1 {
    padding: 0px;
    margin-left: 0px;
    left: 0px;
  }

  .skills p {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .EduContent {
    padding: 17px 22px;
    font-size: 13px;
    min-width: 200px;
  }
.refrance {
  font-size: 15px;
  letter-spacing: 1.2px;
  padding-bottom: 20%;
}
.refrance h1 {
font-size: 30px;
}

}
