
/*
CSS designing
*/

:root { /* making root colors */
  --orange: #ff6600;
  --lightdarkfontcolor: #3d5070;
  --darkfontcolor: #041333;
  --darkbg: #012631; 
  --countrybg: #5cc505;
  --fontcolourwhite: #fff;
  --green: #7ab906;
}
/*
start(*) is a universal selector.(select all elements)
this will applicable in all browsers. 
*/
* {
  margin: 0; /* specifying margin */
  padding: 0; /* specifying padding */
  box-sizing: border-box;  /* specifying box size*/
  font-weight: normal; /* specifying font weight */
}

button { /* button*/
  
  display: inline-block; /* specifying display */
  border-radius: 4px; /* specifying border radius */
  border: none; /* specifying border is none*/
  color: #FFFFFF; /* specifying color */
  text-align: center; /* specifying text align */
  font-size: 28px; /* specifying font size */
  padding: 20px; /* specifying padding */
  width: 250px; /* specifying width */
  height: 50px; /* specifying height*/
  transition: all 0.5s; /* specifying transition */
  cursor: pointer; /* specifying cursor */
  margin: 5px; /* specifying margin */
  font-family: Arial, Helvetica, sans-serif; /* specifying font */
  letter-spacing: 1.5px; /* specifying letter spacing */
}
 
input { /* input */
  -webkit-appearance: none; /* specifying no webkit Appearance to give different design */
}
 
input[type=text] { /* imput with type text */
  border: none; /* specifying border is none */
  color: inherit; /* specifying color */
  letter-spacing: 1.5px; /* specifying letter spacing */
  background: none; /* specifying backgrount is none*/
  outline: none;  /* specifying is none*/
}

ul { /* universal list */
  list-style: none; /* specifying list style is none */
}

body { /* body */
  padding: 50px; /* specifying padding */
  background: var(--darkbg);  /* specifying background (getting from root colers)*/
  background-image: url("../image/seanory.png"); /* specifying bacjground image */
  background-repeat: no-repeat; /* specifying no repet backgrount image */
  font: 1rem/1.3 "Roboto", sans-serif; /* specifying font*/
  background-attachment: fixed; /* specifying backgrount attachment is fixed */
  background-position: bottom; /* specifying the background position is bottuo*/
}

.topcontainer, .datacontainer {/* topcontainer class and datacontainer class */
  width: 100%; /* specifying width */
  max-width: 1200px; /* specifying maximum width */
  margin: 0 auto; /* specifying margin */
  padding: 0 15px; /* specifying padding */
}

.topcontend { /* topcontend class*/
  color: var(--fontcolourwhite); /* specifying color (getting from root colers) */
}

.heading { /* heading class */
  font-weight: bold; /* specifying font weight */
  font-size: 4rem; /* specifying font size */
  letter-spacing: 0.02em; /* specifying letter spacing */
  padding: 0 0 30px 0; /* specifying padding */
}

.topcontend form { /* form inside topcontend class */
  position: relative; /* specifying position */
  display: flex; /* specifying display */
  align-items: center; /* specifying align items */
}

.topcontend form input { /*selecting input from form from topcontend class */
  font-size: 2rem; /* specifying font size */
  border-bottom: 1px solid; /* specifying border bpttom*/
  height: 40px; /* specifying height */
  padding: 5px 5px 10px; /* specifying padding */
}

.topcontend form input::placeholder { /*specifying input::placeholder (::placeholder selector selects form elements with placeholder text, and style the placeholder text)from form from topcontend class */
  color: currentColor; /* specifying color */
}

.topcontend form button { /* selecting button from form inside of class topcontend */
  font-size: 1rem; /* specifying font size */
  font-weight: bold; /* specifying font weight */
  background: var(--orange); /* specifying background from root colors */
  transition: background 0.3s ease-in-out;  /* specifying transition*/
  letter-spacing: 0.1em; /* specifying letter spacing */
  padding: 15px 20px; /* specifying padding */
  margin-left: 15px; /* specifying left margin */
  border-radius: 5px; /* specifying border radius */
}

.topcontend form button:hover { /* specifying button:hover from form inside of class topcontend */
  background: var(--green); /* specifying backgrount color from root colors */
}

.topcontend form .message { /* selecting message class inside of fore and topcontend class */
  position: absolute; /* specifying position */
  bottom: -40px; /* specifying bottom */
  color: rgb(247, 163, 95); /* specifying color */
  left: 0; /* specifying left */
  max-width: 450px; /* specifying maximum width */
  min-height: 40px; /* specifying minumum height */
}

.weathersection { /* weathersection class */
  margin: 70px 0 20px; /* specifying margin */
}

.weathersection .cities { /* weathersection class and cities class */
  display: grid; /* specifying display*/
  grid-gap: 32px 20px; /* specifying grid gap*/
  grid-template-columns: repeat(4, 1fr); /* specifying grid template columns */
}

.weathersection figcaption {/* figcaption inside of weatherselecton class */
  margin-top: 10px; /* specifying top margin */
  text-transform: uppercase; /* specifying text transform */
  letter-spacing: 0.05em;  /* specifying letter space */
}

.weathersection .city-temp { /* weatherselection class and city-temp class*/
  font-size: 5rem; /* specifying font size */
  font-weight: bold; /* specifying font weight */
  margin-top: 10px; /* specifying top margin */
  color: var(--darkfontcolor); /* specifying color from root color */
}

.weathersection .city sup { /* weathersection class and city class and superscript text*/
  font-size: 0.5em; /* specifying font size */
}

.weathersection .city-name sup { /* weathersection class and city-name class and superscript text*/
  padding: 0.2em 0.6em; /* specifying padding */
  border-radius: 30px; /* specifying border radius */
  color: var(--fontcolourwhite); /* specifying color form root colors */
  background: var(--countrybg);  /* specifying background from root colors*/
}

.weathersection .city { /* weathersection class and city class */
  position: relative; /* specifying position */
  padding: 40px 10%; /* specifying padding */
  border-radius: 20px; /* specifying border radius */
  background: var(--fontcolourwhite); /* specifying backgrount color from root color */
  color: var(--lightdarkfontcolor); /* specifying color from root colors*/
}

.weathersection .city::after { /* weathersection class and adding this after city class*/
  content: ''; /* specifying no contend after */
  width: 90%; /* specifying width */
  height: 50px; /* specifying height */
  position: absolute; /* specifying position */
  bottom: -12px; /* specifying bottom */
  left: 5%; /* specifying left */
  z-index: -1; /* z index specifies the stack order */
  opacity: 0.3; /* specifying opacity */
  border-radius: 20px; /* specifying border radius */
  background: var(--fontcolourwhite); /* specifying backgrount from root colors */
}

.weathersection .city-icon { /* weathersection class and city-icon class */
  margin-top: 10px; /* specifying top margin */
  width: 100px; /* specifying width */
  height: 100px; /* specifying height */
}
/*
start media
*/
@media screen and (max-width: 1000px) { /* @media apply different styles for different media devices(here specifying maximum width of screen is 1000 pixel)*/
  body {/* body */
    padding: 30px; /* specifying padding */
  }
  
  .weathersection .cities { /* weathersection class and cities class */
    grid-template-columns: repeat(3, 1fr); /* specifying grid template columns */
  }
}
/*
end media
*/

/*
start media
*/
@media screen and (max-width: 700px) {/* @media apply different styles for different media devices(here specifying maximum width of screen is 700 pixel)*/
  .heading,
  .weathersection .city-temp { /* heading class and weathersection class and city-temp class */
    font-size: 3rem; /* specifying font size */
  }
  
  .weathersection { /* weathersection */
    margin-top: 20px; /* specifying top margin */
  }
  
  .topcontend form button { /* button from form from topcontend class */
    margin: 20px 0 0 0; /* specifying margin */
  }
  
  .topcontend form .msg { /* msg class from form from topcontend class */
    position: static;/* specifying position */
    max-width: none; /* specifying maximum width */
    min-height: 0;/* specifying minumum height */
    margin-top: 10px;/* specifying top margin */
  }

  .topcontend form { /* form in topcontend class*/
    flex-direction: column; /* specifying the direction of the flexible items*/
    align-items: flex-start; /* specifying items align */
  }
  
  .topcontend form input, /* input from form from topcontend class */
  .topcontend form button {  /* button from form from topcontend class */
    width: 100%; /* specifying width */
  }

  .weathersection .cities { /* weathersection class and cities class */
    grid-template-columns: repeat(2, 1fr); /* specifying grid templatecolumns */
  }
}
/*
end media
*/

/*
start media
*/
@media screen and (max-width: 500px) {/* @media apply different styles for different media devices(here specifying maximum width of screen is 500 pixel)*/
  body { /* body */
    padding: 15px;/* specifying padding*/
  }
  
  .weathersection .cities { /* weathersection class and cities class */
    grid-template-columns: repeat(1, 1fr); /* specifying grid template columns */
  }
}
/*
end media
*/


/* 
FOOTER 
*/

footer { /* footer */
  position: fixed; /* specifying position */
  padding: 10px 10px 0px 10px; /* specifying padding */
  bottom: 0; /* specifying bottom */
  width: 100%; /* specifying width */
  height: 40px; /* specifying footer height */
}

.footer { /* footer class */
  text-align: center; /* specifying text align */
  font-size: 1rem; /* specifying font size */
  color: var(--fontcolourwhite);/* specifying color from root colors */
  margin-top: 40px; /* specifying top margin */
  color: #ffffff; /* specifying color */
}

.heartSymbel { /* heartSymbel class*/
  color: rgb(238, 6, 6);/* specifying color */
  font-size: 16px;/* specifying font size */
  padding-left: 5px;/* specifying left padding */
  padding-right: 5px;/* specifying right padding */
}

